<article id="about">

    <h2>About</h2>

    <p>How many businesses do you know who struggle to communicate why they do what they do, how they do it, or the value it provides to their customers? How often have you struggled do this yourself?</p>

    <p>Realising and clarifying these points can have a powerful effect. The better you know the "why, how and what" of your organisation, the better you'll be at communicating them. It then follows that the better you are at communicating these points, the more likely it is you'll get buy-in from new customers, employees or investors.</p>

    <p>Having helped many organisations follow this in the past and seeing the effect it has, we wanted to make this process more accessible. After early stage-testing and iterations, Clarify was born.</p>

    <p>Whilst Clarify can't quite replace the expertise of a professional branding consultant, it's a good stepping-stone for new or existing organisations to discover who they are, and what they stand for. We hope you find it useful.</p>

</article>