<article id="contact">

    <h2>Contact</h2>

    <p>We'd love to hear from you. Please choose the most appropriate email address below:</p>

    <br>

    <p>
        <strong>Help with next steps</strong>
        <br>
        <a href="mailto:nextsteps@helpmeclarify.com">nextsteps@helpmeclarify.com</a>
    </p>

    <br>

    <p>
        <strong>Technical issues/feedback</strong>
        <br>
        <a href="mailto:feedback@helpmeclarify.com">feedback@helpmeclarify.com</a>
    </p>

    <br>

    <p>
        <strong>General enquiries</strong>
        <br>
        <a href="mailto:hello@helpmeclarify.com">hello@helpmeclarify.com</a>
    </p>

</article>