<article id="next-steps">

    <h2>Next steps</h2>

    <p>Once you’ve used Clarify for the first time you should have a better idea of what your brand is. Whilst you'll see the benefits of simply knowing this, it's also worth reviewing how you currently communicate it.</p>

    <p>Your brand is communicated in a number of ways, both by yourself and others. For example, any document, website or even email signature should have a visual identity that quickly communicates the key elements of your brand.</p>

    <p>But brands aren't purely about the visual elements. Your brand should also dictate the tone and content of any copy you write, affect the types of conversations you should be having on social media, and more profoundly - when you consider the purpose of what you do - the future direction of your organisation.</p>

    <p>Put some time in your calendar how to review each of these in turn. If you're not sure whether any element is quite up to scratch, considering finding a professional to help you review them.</p>

    <p>Finally, as this is an extremely simplified approach to your brand, you may feel that your business can benefit by looking at your brand in more depth with a specialist brand consultant.</p>

</article>